<p>hero-form works!</p>

<div>
  <form #heroForm="ngForm">
   <!-- {{ model | json }} Lo transforma a json, string para mostrar arriba como lo que escribes se modifica-->
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="model.name" name="name"
             #name="ngModel"> <!--Bindea la palabra name a ngmodel, así luego name, tiene las propiedades valid, pristi... de los forms-->
             <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>

    </div>

    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text"  class="form-control" id="alterEgo"
            required
             [(ngModel)]="model.alterEgo" name="alterEgo">
    </div>

    <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control"  id="power"
              required
              [(ngModel)]="model.power" name="power">
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option> <!--Muestra el array powers creando let pow para cada uno-->
      </select>
    </div>

<button type="submit">Enviar</button>
<button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
<button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">RESET FORM</button>
  </form>  <!--form para poder acceder con ngform-->


<!--Añadimos los id y names para que cuando se le de a enviar se envien estos datos a las propiedades de la clase Hero.
Dicha clase está añadida en la parte .ts para que pueda encontrar las propiedades.

Faltan más cosas de angular ngForm , ngModel y la función para enviar
*Crear un array de heroes en otro componente donde añadir nuestros héroes, modificar, y borrar y listarlo
Ponerlo en un enlace con app-routing.module como una lista de héroes y en el dshboard se queda para añadir y para pinchar
a ver la lista. Luego una vista detalle del héroe selecionado.

*Revisar Mock
-->

</div>
