<p>hero-form works!</p>

<div>

<label>Nombre</label>
<input type="text" class="form-control" id="name"
       required
       [(ngModel)]="model.name" name="name">
<br>
<br>

<label>Nombre de Héroe</label>
<input type="text" id="AlterEgo" name="AlterEgo">
<br>
<br>

<div class="form-group">
  <label for="power">Hero Power</label>
  <select class="form-control" id="power" required>
    <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
  </select>
</div>

<button type="submit">Enviar</button>

<!--Añadimos los id y names para que cuando se le de a enviar se envien estos datos a las propiedades de la clase Hero.
Dicha clase está añadida en la parte .ts para que pueda encontrar las propiedades.

Faltan más cosas de angular ngForm , ngModel y la función para enviar
*Crear un array de heroes en otro componente donde añadir nuestros héroes, modificar, y borrar y listarlo
Ponerlo en un enlace con app-routing.module como una lista de héroes y en el dshboard se queda para añadir y para pinchar
a ver la lista. Luego una vista detalle del héroe selecionado.

*Revisar Mock
-->

</div>
